In [55]:
library(rvest)
library(tidyverse)

get_top_selling_albums <- function(year) {
    albums <- "https://bestsellingalbums.org/year/" |>
        paste0(year) |>
        read_html() |>
        html_elements(".album_card")

    tibble(
        Name = albums |>
        html_element(".album") |>
        html_text2(),
        Artist = albums |>
        html_element(".artist") |>
        html_text2(),
        Sales = albums |>
        html_nodes(".sales") |>
        html_text2() %>%
        gsub("\\D", "", .) |>
        as.numeric(),
        Rank = albums |>
        html_element(".rank") |>
        html_text() |>
        as.numeric(),
        `Rank (All time)` = albums |>
        html_nodes(".ranks_row") |>
        html_element(":nth-child(3)") |>
        html_text() %>%
        gsub("\\D", "", .) |>
        as.numeric()
    )
}

Example

In [56]:
get_top_selling_albums(1987)

ERROR: Error: object 'albums_data' not found